---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog | Milena Giacomini">
  <main class="blog">
    <h1>Blog</h1>

    <p class="intro">
      Em construção 🚧
    </p>

    <p>
      Ainda estou organizando a casa.</span>
    </p>

    <p>
      Enquanto isso, fique com essa sugestão de 
    </p>
  </main>
</Layout>