---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Colaborações | Milena Giacomini">
  <main class="colaboracoes">
    <h1>Colaborações</h1>
    <section>
  <h2>→ Palestras e eventos</h2>
  <article>
    <h3>
      <a href="https://casafirjan.com.br/aquario-casa-firjan/o-futuro-da-comunicacao-em-tempos-de-ia" target="_blank">
        O futuro da comunicação em tempos de IA ↗
      </a>
    </h3>
    <p>
     Fui convidada para falar sobre <span class="destaque">novos modelos de jornalismo digital</span> em evento no Aquário Casa Firjan.
    </p></article>
    
  <article><h3>
      <a href="https://ijnet.org/pt-br/story/como-distribuir-o-seu-conte%C3%BAdo-da-melhor-forma-na-internet" target="_blank">
        Como distribuir o seu conteúdo da melhor forma na internet ↗
      </a>
    </h3>
    <p>
     Neste webinar, a convite do Internacional Journalists' Network (IJNet), compartilhei dicas para uma <span class="destaque">circulação eficiente de conteúdo</span> em diferentes canais.
    </p> </article> </section>

<section>
  <h2>→ Entrevistas</h2>

  <article>
    <h3>
      <a href="https://www1.folha.uol.com.br/blogs/hashtag/2024/10/uma-rede-com-menos-ansiedade-mas-ainda-incompleta-como-usuarios-veem-o-bluesky.shtml" target="_blank">
        Como usuários veem o Bluesky ↗
      </a>
    </h3>
    <p>
   Compartilhei minhas <span class="destaque">percepções sobre a nova rede social Bluesky</span> em entrevista ao blog #Hashtag da Folha de S. Paulo.
    </p></article>

<article><h3>
      <a href="https://ajor.org.br/dicas-para-trabalhar-com-redes-sociais-no-jornalismo/" target="_blank">
        Dicas para trabalhar com redes sociais no jornalismo ↗
      </a>
    </h3>
    <p>
     Compartilhei estratégias para <span class="destaque">distribuição de conteúdo nas plataformas digitais</span> em entrevista para a Associação de Jornalismo Digital — Ajor.
    </p> </article>

    </section>
    
  </main>
</Layout>