---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Currículo | Milena Giacomini">
  <main class="curriculo">
    <h1>Currículo</h1>

    <section>
      <h2>→ Experiência profissional</h2>

      <article>

  <h3><a href="https://nucleo.jor.br/equipe/migiacomini/" target="_blank">Núcleo Jornalismo ↗</a></h3>

 <p class="cargo">
  Editora de redes sociais e comunidade
  <span class="periodo">janeiro de 2024 – atual</span>
</p>

  <ul>
<li>Desenvolvimento de campanhas de <span class="destaque">membresia</span> para conversão de leitores em apoiadores;</li>
<li>Gestão de comunidade desenvolvimento de estratégias de <span class="destaque">engajamento</span> e crescimento; </li>
<li>Planejamento de <span class="destaque">eventos</span> mensais no NucleoHub, comunidade no Discord, mediando conversas sobre jornalismo, internet e tecnologia; </li>
<li><span class="destaque">Relacionamento</span> com leitores, assinantes e membros da comunidade;</li>
<li>Otimização de <span class="destaque">produtos editoriais</span>, como newsletters, projetos especiais e canais de distribuição;</li>
<li>Monitoramento e análise de métricas de <span class="destaque">audiência</span> em redes sociais, newsletters, comunidade e site;</li>
<li>Elaboração de textos institucionais e <span class="destaque">edição</span> de conteúdos para newsletters e outros produtos editoriais;</li>
<li><span class="destaque">Redação</span> da newsletter semanal Prensadão.</li>
  </ul>

  <p class="cargo">
    Coordenadora de mídias sociais
  <span class="periodo">maio de 2023 – dezembro de 2023</span>
</p>

  <ul>
    <li>Desenvolvimento de <span class="destaque">estratégias</span> para redes sociais e aplicativos de mensagem;</li>
   <li>Planejamento de calendário editorial de distribuição adaptando <span class="destaque">formatos de conteúdo</span>em diferentes plataformas;</li>
    <li><span class="destaque">Estruturação</span> e gestão da comunidade no Discord;</li>
    <li>Monitoramento de métricas e produção de <span class="destaque">relatórios quinzenais</span> com dados de redes sociais e comunidade.</li>
  </ul>
</article>

 <article>
 <h3><a href="https://oeco.org.br/author/milena-giacomini/" target="_blank">((o))eco — Jornalismo Ambiental ↗</a></h3>
<p class="cargo"> Gestora de redes sociais
    <span class="periodo">abril de 2021 – abril de 2023</span>
        </p>
        
<ul>
          <li>Desenvolvimento e execução da <span class="destaque">estratégia</span> de redes sociais para ampliar a presença da organização no Instagram e no Twitter;</li>
          <li>Apoio na <span class="destaque">reestruturação</span> completa da identidade visual de ((o))eco nas redes, definindo novos templates para cards e carrosseis e materiais de apoio para distribuição;</li>
          <li>Produção de conteúdos nativos para redes sociais, ampliando a <span class="destaque">circulação</span> de pautas ambientais;</li>
          <li>Apresentação de um <span class="destaque">boletim semanal em vídeo</span>, que permanece até hoje como uma editoria fixa no Instagram;</li>
          <li>Execução de campanhas de <span class="destaque">mídia paga</span> no Instagram e Facebook em projetos como WikiParques;</li>
          <li>Criação de dashboard para registro e <span class="destaque">monitoramento de resultados</span> nas redes sociais;</li>
          <li><span class="destaque">Edição</span> de conteúdos no formato Google Web Stories.</li>

        </ul>
      </article>

      <article>

  <h3>ZENIT</h3>

 <p class="cargo">
  Coordenadora de mídias sociais
  <span class="periodo">novembro de 2019 – janeiro de 2021</span>
</p>

  <ul>
<li>Planejamento de <span class="destaque">calendário de conteúdo</span> e revisão de postagens para redes sociais;</li>
<li><span class="destaque">Coordenação</span> e suporte ao time de conteúdo; </li>
<li>Análise de <span class="destaque">métricas</span> de redes sociais como Instagram e YouTube.</li>
  </ul>

  <p class="cargo">
    Produtora de conteúdo
  <span class="periodo">fevereiro de 2019 – outubro de 2019</span>
</p>

  <ul>
    <li>Produção de <span class="destaque">conteúdo</span> sobre atividade física, saúde e bem-estar para redes sociais;</li>
   <li>Auxílio na revisão e edição de <span class="destaque">roteiros</span> de vídeos e podcasts;</li>
    <li>Atendimento a <span class="destaque">comunidadae</span> de assinantes pelas redes sociais.</li>
  </ul>
</article>
<article>

  <h3>Sul21</h3>

 <p class="cargo">
  Estagiária de redes sociais
  <span class="periodo">fevereiro de 2017 – setembro de 2017</span>
</p>

  <ul>
<li><span class="destaque">Distribuição</span> de conteúdo no Facebook, Twitter e newsletters;</li>
<li>Curadoria de conteúdo para <span class="destaque">republicação</span> no site;</li>
<li>Produção de <span class="destaque">newsletter</span> com as principais notícias do dia.</li>
  </ul>
</article>

<article>

  <h3>Rádio Bandeirantes</h3>

 <p class="cargo">
  Estagiária de produção
  <span class="periodo">setembro de 2015 – outubro de 2016</span>
</p>

  <ul>
<li><span class="destaque">Produção</span> de programas diários no formato hard news como Tempo Real e BandNews Porto Alegre 2ª Edição;</li>
<li>Responsável pelo <span class="destaque">boletim</span> de trânsito e aeroporto;</li>
<li>Produção de reportagens especiais sobre <span class="destaque">cultura</span>.</li>
  </ul>
</article>

<article>

  <h3>Jornal do Comércio</h3>

 <p class="cargo">
  Estagiária de diagramação
  <span class="periodo">novembro de 2014 – agosto de 2015</span>
</p>

  <ul>
<li><span class="destaque">Diagramação</span> do jornal diário e de cadernos especiais.</li>
  </ul>
</article>
    </section>

    <section>
      <h2>→ Formação acadêmica</h2>

      <p>
        <span class="destaque">Jornalismo</span><br />
        Pontifícia Universidade Católica do Rio Grande do Sul (PUC-RS) <br />
        2014-2018
      </p>
    </section>
  </main>
</Layout>