---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Projetos | Milena Giacomini">
  <main class="projetos">
    <h1>Projetos</h1>
<section>
  <h2>→ Newsletters</h2>

  <article>
    <h3>
      <a href="https://nucleo.jor.br/prensadao/" target="_blank" rel="noopener noreferrer">
        Prensadão ↗
      </a>
    </h3>

   <p>
  Redatora da newsletter semanal do Núcleo Jornalismo.
  Um <span class="destaque">resumão brevemente comentado</span> de tudo que foi publicado durante a semana.
</p>
 <ul>
    <li>
      <a href="https://nucleo.jor.br/prensadao/2026/04/17/policia-redes-sociais-e-gastos-com-vigilancia/" target="_blank" rel="noopener noreferrer">
        Polícia, redes sociais e gastos com vigilância 👀 ↗
      </a>
    </li>

    <li>
      <a href="https://nucleo.jor.br/prensadao/2025/08/22/exploracao-de-criancas-tambem-no-roblox/" target="_blank" rel="noopener noreferrer">
        Exploração de crianças também no Roblox 👀 ↗
      </a>
    </li>

    <li>
      <a href="https://nucleo.jor.br/prensadao/2024/11/08/trump-e-big-techs/" target="_blank" rel="noopener noreferrer">
        Trump e Big Techs ↗
      </a>
    </li>
  </ul>
  </article>

  <article>
    <h3>
      <a href="https://garimpo.news/" target="_blank" rel="noopener noreferrer">
        Garimpo ↗
      </a>
    </h3>

    <p>
      Colaborei com a newsletter produzindo <span class="destaque">notas sobre assuntos
      virais</span> nas redes sociais.
    </p>
  <ul>
    <li>
      <a
        href="https://nucleo.jor.br/garimpo/brasileiros-vao-ao-delirio-apos-quatro-indicacoes-ao-oscar/"
        target="_blank "
        rel="noopener noreferrer"
      >
        Brasileiros vão ao delírio nas redes após quatro indicações ao Oscar ↗
      </a>
    </li>

<li>
  <a
    href="https://nucleo.jor.br/garimpo/videos-oscar-fernanda-torres/"
    target="_blank"
    rel="noopener noreferrer"
  >
    15 vídeos para reforçar a campanha pelo Oscar de Fernanda Torres ↗
  </a>
</li>

<li>
  <a
    href="https://nucleo.jor.br/garimpo/a-vonts-no-bluesky/" target="_blank" rel="noopener noreferrer"
  >
    Algumas dicas para ficar mais à vont's no Bluesky ↗
  </a>
</li>

  </ul>

</article>

</section>

<section>
  <h2>→ Podcasts e áudio</h2>

  <article>
    <h3><a href="https://nucleo.jor.br/investiga/" target="_blank" rel="noopener noreferrer">
      Núcleo Investiga — Núcleo Jornalismo ↗ 
     </a>
    </h3>
   <p>
  Responsável por planejar <span class="destaque">conteúdos em diferentes formatos</span> para divulgação do podcast em
  canais digitais da organização.
</p>
  </article>

 <article>
  <h3> <a href="https://www.matinal.org/podcasts/o-fim-do-futuro-1/"target="_blank" rel="noopener noreferrer"> 
       O Fim do Futuro — Matinal e Vós ↗ 
      </a>
    </h3>
    <p>
      Atuei na coordenação digital do projeto desde o pré-lançamento, <span class="destaque">mapeando possíveis parcerias</span> para ampliar o alcance do podcast. Auxiliei na revisão de conteúdos para redes sociais.
    </p> </article>

  <article>

    <h3>
      <a href="https://oeco.org.br/especial/bichos_plantas_historias/"target="_blank" rel="noopener noreferrer" > 
       Bichos, plantas e histórias que não contaram para você — ((o))eco ↗ 
      </a>
    </h3>
    <p>
   Participei da estruturação do projeto, resultado do programa Acelerando a Transformação Digital. <span class="destaque">Contribuí com sugestões editoriais, canais de divulgação e planejamento</span>.
    </p></article>
</section>

<section>
  <h2>→ Conteúdo na internet e comunidade</h2>
<article>
    <h3><a href="https://institutotalanoa.org/" target="_blank" rel="noopener noreferrer">
      Instituto Talanoa na COP30 ↗ 
     </a>
    </h3>
    <p>
  Revisão e edição de conteúdos informativos produzidos em parceria com influenciadores, com foco na ampliação do debate sobre adaptação climática durante a COP30, em Belém.  <span class="destaque">Responsável pela edição do resumo diário em vídeo para redes sociais</span>.
    </p>
<ul>
      <li>
        <a href="https://www.instagram.com/p/DRYVnhokYr3/" target="_blank" rel="noopener noreferrer">
          Último resumo do dia da #COP30 ↗
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/p/DQ-BnoSEpck/" target="_blank" rel="noopener noreferrer">
          Futebol feminino e adaptação climática ↗
        </a>
      </li>

      <li>
        <a href="https://www.instagram.com/p/DRN5O_Cg_Di/" target="_blank" rel="noopener noreferrer">
          Vídeo sobre o dia 8 da #COP30 ↗
        </a>
      </li>
    </ul>
  </article>

</section>
  </main>
</Layout>