---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Milena Giacomini">
   <main class="sobre">
    <h1>Sobre mim</h1>

    <p class="intro">Oi! :) </p>

<p> Sou Milena Giacomini, jornalista pela PUCRS e cronicamente online desde a época da internet discada.</p>

<p>Há mais de dez anos trabalho com jornalismo digital, sempre com o objetivo de ampliar o alcance de <span class="destaque">iniciativas independentes</span>, fortalecer a relação com audiências e gerar impacto.</p>

<p>Comecei atuando com distribuição de conteúdo em redes sociais, aplicativos de mensagem e newsletters, acompanhando de perto as <span class="destaque">transformações no ecossistema digital</span> — da derrocada de plataformas como o Twitter ao surgimento de alternativas como o Bluesky.</p> 

<p>Hoje atuo como editora de redes sociais e comunidade no Núcleo Jornalismo, iniciativa que cobre de forma crítica a transformação da internet em canteiro de big techs.</p> 

<p>Anteriormente, colaborei com ((o))eco, sendo a primeira pessoa de redes sociais da organização. Foi lá que me apaixonei pelo <span class="destaque">jornalismo ambiental</span>, área que sigo atuando em projetos como freelancer sempre que possível.</p>

<p>No cenário jornalístico atual, minha missão é <span class="destaque">transformar audiência em comunidade</span>, fortalecendo a relação com os leitores.</p>

  </main>
</Layout>